<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Diphylleia&family=Noto+Serif+KR:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/CSS/index.css">
</head>
<body>
<div class="background-window"></div>
<div class="foreground-window">
    <div class="login_form">
        <span style="font-size: 2em; color: rgba(208, 72, 72, 0.9);"><i class="fa-solid fa-door-open"></i></span><br><br>
        <form action="{{ url_for('login') }}" method="POST" class="login_form">
            <input class="login_input" name="Major" type="text" placeholder="MAJOR" required/><br>
            <input class="login_input" name="Student ID Number" type="number" placeholder="ID" required/><br>
            <input class="login_input" name="Name" type="text" placeholder="NAME" required/><br>
            <input class="login_btn" type="submit" value="Login"/>
        </form>
    </div>
</div>
<script
        src="https://kit.fontawesome.com/4def4a822e.js"
        crossorigin="anonymous"></script>
</body>
</html>